// Colors
$white: #fff;
$black: #222;
$selection: #6af0f7;
$default-text-color: #171716;
$off-white: #fafafa;
$semi-white: #fefefe;
$light-gray: #ececec;
$success-green: #7bd19b;
$facebook-color: #719bf2;
$twitter-color: #50c0ed;
$ig-color: #fc67e8;
$tumblr-color: #91cbf2;

// Fonts
$default-font: Arial, Helvetica, sans-serif;
$standard-font-size: 12px;

// Sizes
$full-size: 100%;
$margin-default: 0 auto;
$hsi-size: 120;
$photo-size: 200;

// Displays
$device-size: 767px;
$mini-device-size: 500px;
$bullet: "\2022";

// Looping
$hs-item-list: acad, christ, profile;
$hs-item-modal-list: (acad: 435, christ: 320, profile: 360);
$photo-list: portfolio, prayer, gigs;
$contact-cols: 12, 4, 8;
$social-media: (
	facebook: $facebook-color, 
	twitter: $twitter-color, 
	instagram: $ig-color, 
	tumblr: $tumblr-color
);
$modal-icons-list: (
	work: suitcase, 
	educ: cap, 
	prex: prex-youth, 
	sfc: singles-for-christ, 
	ctk: ctk-greenmeadows, 
	apc: asia-pacific-college, 
	feast: the-feast
);
$i: 1;

// Mixins
@mixin font-smooth{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
@mixin property-fluid($property, $value){
	#{$property}: #{$value};
}
@mixin vendor-elements($property, $value){
	-webkit-#{$property}: $value;
  	-moz-#{$property}: $value;
  	-ms-#{$property}: $value;
  	#{$property}: $value;
}
@mixin transition-all($time, $animation){
	-webkit-transition: all $time $animation;
	-moz-transition: all $time $animation;
	-o-transition: all $time $animation;
	transition: all $time $animation;
}
@mixin transition-property($property, $time, $animation){
	-webkit-transition: $property $time $animation;
	-moz-transition: $property $time $animation;
	-o-transition: $property $time $animation;
	transition: $property $time $animation;
}
@mixin background-details($image-file, $display){
	background: url("../img/#{$image-file}") no-repeat center center;
	background-size: $display;
}
@mixin background-no-repeat($image-file, $display){
	background: url("../img/#{$image-file}") no-repeat;
	background-size: $display;
}
@mixin background-img($image-file, $format){ background: url("../img/#{$image-file}.#{$format}") center no-repeat;}
@mixin font($size, $face){
	font: $size $face, Arial, Helvetica, sans-serif;
}
@mixin full-size{
	height: $full-size;
	width: $full-size;
}
@mixin square-size($value){
	height: #{$value}px;
	width: #{$value}px;
}
@mixin lr-direct($property, $value){
	@each $direct in left, right{
		#{$property}-#{$direct}: #{$value};
	}
}
@mixin tb-direct($property, $value){
	@each $direct in top, bottom{
		#{$property}-#{$direct}: #{$value};
	}
}
@mixin clearfix{
	content: "";
	display: block;
	pointer-events: none;
	position: relative;
}
@mixin icon-content{
	content: "";
	display: block;
	position: absolute;
	top: $full-size/2;
}
@mixin object-transform($translateY, $translateX-1, $translateX-2){ 
	-webkit-transform: translateY($translateY) translateX($translateX-1) translateX(#{$translateX-2}px);
	-moz-transform: translateY($translateY) translateX($translateX-1) translateX(#{$translateX-2}px);
	-o-transform: translateY($translateY) translateX($translateX-1) translateX(#{$translateX-2}px);
	transform: translateY($translateY) translateX($translateX-1) translateX(#{$translateX-2}px);
}
@mixin grid($cols, $margin){
	float: left;
	margin-right: $margin;
	margin-bottom: $margin;
	width: ((100% - (($cols - 1) * $margin)) / $cols);
	&:nth-child(#{$cols}n){
		margin-right: 0;
	}
}
@mixin respond-to($media){
	@if $media == mobile{ 
		@media screen and (max-width: $device-size){ @content; }
	}@else if $media == small-mobile{ 
		@media screen and (max-width: $mini-device-size){ @content; }
	}
}

// Functions
@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $mode == round{ @return round($number * $n) / $n;}
    @else if $mode == ceil{ @return ceil($number * $n) / $n;}
    @else if $mode == floor{ @return floor($number * $n) / $n;}
    @else{  @return $number;}
}

@function strip-unit($number){
	@if type-of($number) == "number" and not unitless($number){
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}


