@mixin jlgnava-mobile{
	.row { @include lr-direct(margin, 0);}
	.page{
		&-title{ @include font(24px, gotham-medium); letter-spacing: 0.14em;}
		&-captions{
			@include font(0.85em, gotham-black);
			letter-spacing: 0.063em;
			padding: 5px 30px 0;
			span{ 
				margin-right: 5px;
				&:last-child{ margin-right: 0;}
				&:not(:last-child)::after{ margin-left: 5px;}
			}
		}
	}
	#top-section{
		.scroll-down .scroll-down-btn{ 
			@include font(0.95em, gotham-black);
			letter-spacing: 0.08em;
			max-width: 180px;
			padding: 12px 0 9.5px;
		}
	}
	.nav{
		&bar{
			background: $black;
			@include font(0.95em, gotham-black);
			min-height: 60px;
			.td{ display: block;}
			.nav-top a{ color: $black; opacity: 0.6;}
			#logo{
				float: none; padding-left: (100/8)px; 
				a{ 
					@include square-size(50);
					> img{
						@include square-size(50);
						margin: 4px 0 0;
						position: relative;
						&.dark-logo{ margin-bottom: -46px;}
						@at-root{
							.navbar-slide #logo a > img{
								&.light-logo{ opacity: 0.7;}
								&.dark-logo{ opacity: 0;}
							}
						}
					}
				}
			}
			&-slide{
				.nav-show-menu{ background: transparent;}
				.nav-top li{
					border-bottom: 1px solid rgba($black, 0.6);
					&:last-child{ @extend %no-border-bottom;}
				}
			}
			&-collapse{
				@extend %navbar-collapse-layout;
				.navbar-slide &{ @extend %navbar-collapse-layout;}
				.nav-top{
					a{
						&:hover, 
						&:first-child:hover,
						.navbar-slide &:first-child:hover{ 
							@extend %navbar-opacity;
						}
					}
				}
			}
			&-toggle{ display: block;}
		}
		&-top{
			float: none; margin: $margin-default; text-align: left;
			li{
				border-bottom: 1px solid rgba($black, 0.6);
				display: block;
				@include lr-direct(margin, 0);
				padding: 20px 0;
				&:last-child{ @extend %no-border-bottom;}
			}
		}
	}	
	%no-border-bottom{ border-bottom: none;}
	%navbar-collapse-layout{
		background: $light-gray;
		border-top: none;
		@include vendor-elements(box-shadow, none);
		@include lr-direct(margin, -15px);
		@include lr-direct(padding, 15px);
		overflow-x: visible;
		position: absolute;
		width: $full-size;
	}
	%navbar-opacity{ opacity: 1;}
	%padding-section-mobile{ padding: 75px 0;}
	
	.title{
		@include font(20px, gotham-medium);
		letter-spacing: 0.08em;
		line-height: 1.2;
		margin: 15px 0 0;
		padding-bottom: 15px;
		&-divider{
			$sections: profile, highlights, photo-gallery, contact, modal-layout, highlight-set-profile;
			@each $sect in $sections{
				$sect-id: "";
				@if $sect == modal-layout{ $sect-id: ".#{$sect}";}
				@else if $sect == highlight-set-profile{ $sect-id: "##{$sect} .modal-layout";}
				@else{ $sect-id: "##{$sect}";}
				#{$sect-id} &{ @extend %title-divider-width;}
			}
		}
	}
	%title-divider-width{ max-width: 500px;}
	#profile{
		.profile-content{ @extend %padding-section-mobile;}
		.col-md-6{ margin-left: 0; padding-right: 0;}
		.headshot{ margin: 15px auto 0; width: 280px;}
		.last-col{ margin-left: 0; @include lr-direct(padding, 10px); text-align: center;}
		.subtitle{ @include font(16px, gotham-black); margin: 15px auto 15px;}
		.desc{ @include font(10px, gotham-medium);}
	}
	.scroll-down .nextbutton{ display: none;}

	#highlights .overlay-wrap{ @extend %padding-section-mobile;}
	%item-section-mobile{ padding: 10px 0;}
	.highlight-set, .photo-gallery{ padding: 10px 0;}

	.highlight{
		&-set{
			@extend %item-section-mobile;
			&-item{
				&::before{ @include square-size(150);}
				&::after{
					background-size: 240px;
					display: inline-block;
					@include square-size(80);
					left: ($full-size/2);
					margin-left: -40px;
					zoom: 1;	
				}
				@each $hs-item in $hs-item-list{
					&.#{$hs-item}::after{ 
						@if $i > 1{ background-position: #{(-80)*(($i)-1)}px 0;}
						@else{ background-position: 0;}
					}
					$i: $i + 1;
				}
			}
			
		}
		&-title{ @extend %hl-pg-title; @extend %hl-pg-top-margin;}
		&-button{ 
			@extend %hl-pg-top-margin;
			.btn{ max-width: 110px; padding: 8px 0;}
		}
	}

	%hl-pg-title{ @include font(1.25em, gotham-black);}
	%hl-pg-top-margin{ margin: 15px 0 0;}

	#photo-gallery .gallery-content{ @extend %padding-section-mobile;}
	.gallery{
		&-title{ @extend %hl-pg-title; @extend %hl-pg-top-margin;}
		&-button{ 
			@extend %hl-pg-top-margin;
			.btn{ max-width: 120px; padding: 8px 0;}
		}
		@at-root .photo-gallery{
			&-item{
				&::before{ background-size: 600px; @include square-size(150);}
				@each $item in $photo-list{
					&.#{$item}::before{ 
						@if $i > 1{ background-position: #{(-150)*($i)}px 0;}
						@else{ background-position: 0;}
					}
					$i: $i + 1;
				}
			}
		}
	}

	#contact{
		.pad-left{ padding-left: 0;}
		.col-md-4{ 
			@extend %contact-top-margin;
			margin: auto percentage(0.265); 
			@include lr-direct(padding, 0); 
			text-align: center;
		}
		%contact-top-margin{ margin-top: 20px;}
		.last-col{ @extend %contact-top-margin;}
		.col-md-8{
			&.last-col{ @include lr-direct(padding, 0); text-align: center;}
		}
		.subtitle{ @include font(14px, gotham-black);}
		.contact-info{
			li{
				@include font(12px, gotham-medium);
				margin: 0 0 0.6em;
				padding-left: 25px;
				i{ left: 0;}
				&:nth-child(2){ margin: 0 0 0.3em;}
			}
		}
		.details-layout{
			ul{ margin: 0;}
			&:last-child{
				.subtitle{ margin-top: 40px;}
				ul{
					float: left; margin-bottom: 0;
					li{ display: inline-block;}
				}
			}
		}
		.social-media-list{
			a{ font-size: 16px; @include square-size(32); margin: 0 14px;}
			li:first-child a{ margin-left: 0;}
		}
	}
	%form-control-mobile{
		@include font(11px, gotham-medium);
		height: 30px;
		padding: 0 12px;
		width: percentage(9/10);
	}
	.form-control{
		@extend %form-control-mobile;
		.has-success &{ @extend %form-control-mobile;}
		.message{ padding: 10px 12px;}
	}
	.contact-button.btn{
		@include font(0.85em, gotham-black);
		margin: 0 0 22.5px;
		max-width: 180px;
		padding: 10px 12px;
	}
	.highlight-modal{
		.close-modal{
			height: 30px;
			right: 20px;
			top: -50px;	
			.lr, .lr .rl{ height: 30px;}
		}
	}	
	.modal-layout{
		.title{ @include font(20px, gotham-medium); padding-bottom: 10px;}
		.timeline{
			&::before, #highlight-set-profile &::before{ @extend %no-display;}
			> li{
				width: $full-size;
				@each $pattern in odd, even{
					&:nth-child(#{$pattern}){
						@if $pattern == odd{ @extend %hsp-timeline-layout;}
						@if $pattern == even{ @extend %hsp-timeline-opp-layout;}
						&:before, &:after, .icon:before, .icon:after{ @extend %no-display;}
						#highlight-set-profile &{ @extend %hsp-timeline-layout;}
						.icon{
							@extend %modal-icon-mobile;
							@if $pattern == even{ @extend %modal-object-transform;}
						}
					}	
				}
				#highlight-set-profile &{
					@include tb-direct(padding, 2.3em);
					.icon, .icon:before{ @extend %no-display;}
				}	
				@at-root{
					%no-display{ display: none;}
					%hsp-timeline-layout{ left: 0; padding-left: 10px;}
					%hsp-timeline-opp-layout{ padding-left: 10px; padding-right: 0; text-align: left;}
					%modal-icon-mobile{ left: percentage(0.285);}
					%modal-object-transform{ right: auto; @include object-transform(-50%, -100%, -61);}
				}
				.icon{
					[class*="icon-"]{ @include square-size(60);}
					.icon{
						&-work{ @include background-img("suitcase", svg); height: 45px;}
						&-ctk-1, &-ctk-2{ height: 70px;}
					}
					&:after{ background: transparent;}
				}
				h3{ @include font(1.15em, gotham-black);}
				h4{ 
					@include font(0.95em, gotham-black);
					span{ @extend %modal-layout-caption;}
				}
				.date{ @extend %modal-layout-caption;}
				@at-root %modal-layout-caption{ @include font(0.95em, gotham-medium);}
				.details{ margin-left: percentage(0.166);}

			}
		}
	}
}