/* CSS Document */

/* Font: Gotham */
@font-face {
    font-family: 'gotham-black';
  	src: url('../fonts/gotham-black.eot');
  	src: url('../fonts/gotham-black.eot#iefix') format('embedded-opentype'), url('../fonts/gotham-black.ttf') format('truetype'), url('../fonts/gotham-black.woff') format('woff'), url('../fonts/gotham-black.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'gotham-bold';
  	src: url('../fonts/gotham-bold.eot');
  	src: url('../fonts/gotham-bold.eot#iefix') format('embedded-opentype'), url('../fonts/gotham-bold.ttf') format('truetype'), url('../fonts/gotham-bold.woff') format('woff'), url('../fonts/gotham-bold.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'gotham-book';
  	src: url('../fonts/gotham-book.eot');
  	src: url('../fonts/gotham-book.eot#iefix') format('embedded-opentype'), url('../fonts/gotham-book.ttf') format('truetype'), url('../fonts/gotham-book.woff') format('woff'), url('../fonts/gotham-book.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'gotham-light';
  	src: url('../fonts/gotham-light.eot');
  	src: url('../fonts/gotham-light.eot#iefix') format('embedded-opentype'), url('../fonts/gotham-light.ttf') format('truetype'), url('../fonts/gotham-light.woff') format('woff'), url('../fonts/gotham-light.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'gotham-medium';
  	src: url('../fonts/gotham-medium.eot');
  	src: url('../fonts/gotham-medium.eot#iefix') format('embedded-opentype'), url('../fonts/gotham-medium.ttf') format('truetype'), url('../fonts/gotham-medium.woff') format('woff'), url('../fonts/gotham-medium.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'gotham-thin';
    src: local('Gotham Thin'), url('../fonts/gotham-thin.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
  	font-family: 'socicon';
  	src: url('../fonts/socicon.eot');
  	src: url('../fonts/socicon.eot#iefix') format('embedded-opentype'), url('../fonts/socicon.woff2') format('woff2'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.svg#Socicon') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

/* Socicon classes */
[class^="socicon-"],
[class*=" socicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  	font-family: 'socicon' !important;
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	/* Better Font Rendering =========== */
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.socicon-facebook:before {
  content: "\e028";
}
.socicon-instagram:before {
  content: "\e044";
}
.socicon-messenger:before {
  content: "\e906";
}
.socicon-tumblr:before {
  content: "\e08b";
}
.socicon-twitter:before {
  content: "\e08d";
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?fukmsr');
	src:  url('../fonts/icomoon.eot?fukmsr#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?fukmsr') format('truetype'),
	url('../fonts/icomoon.woff?fukmsr') format('woff'),
	url('../fonts/icomoon.svg?fukmsr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-mail4:before {
  content: "\ea86";
}