@charset "UTF-8";
@import url("fonts.css");
@import url("animations.css");
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background: #fff;
  color: #171716;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

body.load {
  opacity: 1; }

a, a:active, a:hover {
  border: 0;
  margin: 0;
  outline: none;
  text-decoration: none; }

img, table {
  border: none; }

ul, ol {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

input, hr, select, textarea {
  background: transparent;
  border: none;
  outline: 0; }

.cf {
  clear: both;
  zoom: 1; }

.container {
  opacity: 1; }

table {
  border-collapse: collapse; }

section, footer {
  position: relative;
  width: 100%; }

input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

#left, .align-left {
  text-align: left; }

#right, .align-right {
  text-align: right; }

#center, .align-center {
  text-align: center; }

#justify, .align-justify {
  text-align: justify; }

.verticaltop {
  vertical-align: top; }

.verticalmiddle {
  vertical-align: middle; }

.verticalbottom {
  vertical-align: bottom; }

.wrap {
  margin: 0 auto;
  width: 100%; }

.transition {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

::selection, input::selection {
  background: #6af0f7;
  color: #fff;
  text-shadow: none; }

.container-full {
  height: 100%;
  margin: 0 auto;
  width: 100%; }

.table, .tr, .td {
  float: none; }

.table {
  display: table;
  margin-bottom: 0; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

.btn, .form-control {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

/* Top section */
#top-section {
  background: url("../img/coffee-and-laptop.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  #top-section header {
    display: block;
    top: 50%;
    z-index: 5;
    zoom: 1; }
  #top-section .container {
    display: table;
    height: 100%;
    opacity: 1; }
  #top-section .row {
    float: left;
    height: 100%;
    margin: 260px auto 0; }
  #top-section section {
    display: table-cell;
    vertical-align: middle; }
  #top-section .overlay-wrap {
    display: table;
    height: 100%;
    padding-bottom: 60px; }
  #top-section .page-title {
    display: block;
    margin: 20px 0 0;
    padding: 0; }
  #top-section .scroll-down {
    top: 80px; }
    .scroll-down {
      left: 0;
      margin: auto;
      position: relative;
      width: 100%; }
    #top-section .scroll-down-btn {
      border: 2px solid #fafafa;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      color: #fafafa;
      display: block;
      font: 1.1em gotham-black, Arial, Helvetica, sans-serif;
      letter-spacing: 0.08em;
      max-width: 215px;
      margin: auto;
      padding: 15px 0 12.5px;
      text-transform: uppercase;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      #top-section .scroll-down-btn:hover {
        background: #fafafa;
        color: #222; }

.overlay-wrap {
  background: rgba(32, 33, 33, 0.75);
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.page-title {
  color: #fafafa;
  font: 52px gotham-medium, Arial, Helvetica, sans-serif;
  letter-spacing: 0.18em;
  line-height: 0.9;
  margin: 0;
  opacity: 1;
  padding: 0 0 5px;
  text-transform: uppercase; }
.page-captions {
  color: rgba(250, 250, 250, 0.7);
  font: 1.1em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1.3;
  margin: 0;
  padding: 15px 0 0;
  text-transform: uppercase; }
  .page-captions span {
    margin-right: 10px; }
    .page-captions span:last-child {
      margin-right: 0; }
    .page-captions span:not(:last-child)::after {
      color: #fafafa;
      content: "•";
      margin-left: 10px;
      opacity: 0.7; }

/* Navigational menu */
.navbar, .navbar-collapse {
  background: transparent; }

.navbar {
  border: none;
  font: 1.1em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .navbar .container {
    opacity: 1; }
  .navbar #logo {
    float: left;
    padding-left: 15px;
    width: 1px; }
    .navbar #logo a {
      height: 70px;
      width: 70px; }
      .navbar #logo a > img {
        display: block;
        height: 70px;
        margin: 10px 12px 0;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 70px; }
        .navbar #logo a > img.dark-logo {
          opacity: 0; }
        .navbar #logo a > img.light-logo {
          opacity: 0.7;
          z-index: 2; }
      .navbar #logo a:hover > img.light-logo {
        opacity: 1;
        z-index: 1; }
  .navbar-fixed-top {
    border-width: 0; }

.nav-top {
  float: right;
  margin: 40px auto;
  text-align: right; }
  .nav-top li {
    border-bottom: none;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    zoom: 1; }
  .nav-top a {
    color: #fff;
    opacity: 0.7;
    text-transform: uppercase; }
.nav > li > a {
  padding: 0 8px; }
  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
    outline: 0; }

.nav-top li.active a, .nav-top a:hover, .navbar-slide .nav-top a:hover {
  opacity: 1; }

/* Navigational menu changes */
.navbar-slide {
  background: #fefefe;
  left: 0;
  top: 0; }
  .navbar-slide .nav-top a {
    color: #222;
    opacity: 0.6; }
  .navbar-slide .nav-top li {
    border-bottom: none; }
  .navbar-slide #logo a > img.dark-logo {
    opacity: 1;
    z-index: 2; }
  .navbar-slide #logo a > img.light-logo {
    opacity: 0; }

/* Sidebar menu button */
.navbar-toggle {
  background: transparent;
  border: none;
  margin-top: 0;
  margin-right: 0;
  outline: 0;
  padding: 1em;
  position: absolute;
  right: 0.75em;
  top: 1.5em; }

.hamburger, .hamburger::before, .hamburger::after {
  background: #fefefe;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 1.75em; }

.hamburger, .hamburger::before, .hamburger::after {
  opacity: 1; }

.hamburger::before {
  transform: rotate(0) translateY(-6px); }
.hamburger::after {
  transform: rotate(0) translateY(4px); }
.open .hamburger {
  transform: rotate(45deg); }
  .open .hamburger::before {
    opacity: 0; }
  .open .hamburger::after {
    transform: translateY(-2px) rotate(-90deg); }

/* Content */
.pad-left {
  padding-left: 10%;
  text-align: left; }

.last-col, #contact .col-md-4 {
  padding-right: 9%;
  text-align: left; }

#profile, #photo-gallery {
  background: #fefefe; }

#profile .profile-content, #highlights .overlay-wrap, #photo-gallery .gallery-content {
  padding: 110px 0; }

#highlights .overlay-wrap, #contact .overlay-wrap {
  display: table;
  height: 100%; }

#profile .title, #photo-gallery .title, .modal-layout .title, #profile .subtitle, #profile .desc {
  color: #222; }

#profile .title-divider, #photo-gallery .title-divider, .modal-layout .title-divider {
  background: #222; }

#highlights .title, #contact .title, #highlights .subtitle, #highlights .desc {
  color: #fafafa; }

#highlights .title-divider, #contact .title-divider {
  background: #fafafa; }

.title {
  font: 30px gotham-medium, Arial, Helvetica, sans-serif;
  letter-spacing: 0.15em;
  line-height: 1;
  margin: 20px 60px 0;
  padding-bottom: 25px;
  text-transform: uppercase;
  opacity: 1; }
  .title-divider {
    height: 2px;
    margin: 0 auto 15px;
    max-width: 480px;
    opacity: 0.6; }

.subtitle {
  display: inline-block;
  font: 18px gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin: 30px auto 15px;
  text-transform: uppercase;
  opacity: 0.6; }

.scroll-down {
  position: relative;
  top: 100px; }
  .scroll-down .nextbutton {
    bottom: 60px;
    display: block;
    left: 50%;
    margin-left: -15px;
    position: relative; }
    .scroll-down .nextbutton span {
      display: block;
      height: 30px;
      width: 30px;
      text-indent: -99999px; }
    .scroll-down .nextbutton.nobg {
      height: 30px;
      width: 30px; }
      .scroll-down .nextbutton.nobg span {
        opacity: 0.6;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .scroll-down .nextbutton.nobg span:hover {
          opacity: 1; }
      .scroll-down .nextbutton.nobg.light-section span {
        background: url("../img/down-chevron.svg") center no-repeat;
        background-size: 100%; }
      .scroll-down .nextbutton.nobg.dark-section span {
        background: url("../img/down-chevron-white.svg") center no-repeat;
        background-size: 100%; }

.highlight-set, .photo-gallery {
  margin: 0 auto;
  padding: 40px 0; }

.highlight-set-item, .photo-gallery-item {
  margin: 0 auto 20px; }

/* Profile section*/
#profile .title-divider {
  max-width: 440px; }
#profile .col-md-6 {
  margin-left: -10px;
  padding-left: 0;
  padding-right: 15px; }
#profile .col-md-12 {
  padding-left: 0;
  padding-right: 0; }
#profile .last-col, #profile #contact .col-md-4, #contact #profile .col-md-4 {
  margin-left: -10px;
  padding-left: 0;
  padding-right: 5%;
  text-align: left; }
#profile .headshot {
  margin: 30px auto 0;
  width: 320px; }
#profile .desc {
  display: block;
  float: none;
  font: 12px gotham-medium, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  opacity: 0.6;
  text-align: justify; }
  #profile .desc-section {
    margin-bottom: 10px; }
    #profile .desc-section:last-child {
      margin-bottom: 0; }
#profile .subtitle {
  font: 18px gotham-black, Arial, Helvetica, sans-serif;
  margin: 30px auto 15px; }

/* Highlights section */
#highlights {
  background: url("../img/computer-desk.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden; }
  #highlights .title-divider {
    max-width: 560px; }

.highlight-set-item::before, .highlight-set-item::after {
  content: "";
  display: block;
  pointer-events: none;
  position: relative; }

.highlight-set-item::before {
  border: 4px solid #fefefe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  opacity: 0.7;
  z-index: 0; }
.highlight-set-item::after {
  background: url("../img/jlgnava-highlights.png") no-repeat center center;
  background-size: 360px;
  height: 120px;
  width: 120px;
  display: inline-block;
  left: 50%;
  margin-left: -60px;
  opacity: 0.85;
  overflow: hidden;
  position: absolute;
  vertical-align: middle;
  top: 35px;
  zoom: 1; }
.highlight-set-item.acad::after {
  background-position: 0; }
.highlight-set-item.christ::after {
  background-position: -120px 0; }
.highlight-set-item.profile::after {
  background-position: -240px 0; }
.highlight-title {
  color: rgba(250, 250, 250, 0.7);
  font: 1.4em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1;
  text-transform: uppercase; }
.highlight-title, .highlight-button {
  margin: 20px 0 0; }
.highlight-button .btn {
  border: 2px solid #fafafa;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fefefe;
  display: block;
  font: 0.9em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  margin: auto;
  max-width: 120px;
  outline: 0;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .highlight-button .btn:hover {
    background: #fafafa;
    color: #222; }

/* Gallery section */
#photo-gallery .title-divider {
  max-width: 520px; }

.photo-gallery-item::before {
  background: url("../img/jlgnava-gallery.jpg") no-repeat;
  background-size: 800px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  content: "";
  display: block;
  pointer-events: none;
  position: relative;
  margin: 0 auto;
  z-index: 0; }
.photo-gallery-item.portfolio::before {
  background-position: 0; }
.photo-gallery-item.prayer::before {
  background-position: -400px 0; }
.photo-gallery-item.gigs::before {
  background-position: -600px 0; }

.gallery-title {
  color: #222;
  font: 1.4em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1;
  opacity: 0.6;
  text-transform: uppercase; }
.gallery-title, .gallery-button {
  margin: 20px 0 0; }
.gallery-button .btn {
  border: 2px solid #222;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #222;
  display: block;
  font: 0.9em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  margin: auto;
  max-width: 140px;
  opacity: 0.6;
  outline: 0;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .gallery-button .btn:hover {
    opacity: 1; }

/* Contact section */
#contact {
  background: url("../img/get-in-touch.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden; }
  #contact .overlay-wrap {
    background: transparent;
    padding: 85px 0; }
  #contact .pad-left {
    padding-left: 4%; }
  #contact .last-col, #contact .col-md-4 {
    margin-top: 20px; }
  #contact .col-md-12 {
    padding-left: 0;
    padding-right: 0; }
  #contact .col-md-4 {
    padding-left: 2%;
    padding-right: 9%;
    text-align: left; }
  #contact .col-md-8.last-col, #contact .col-md-8.col-md-4 {
    padding-left: 15px;
    padding-right: 10%;
    text-align: left; }
  #contact .subtitle {
    color: #fefefe;
    font: 16px gotham-black, Arial, Helvetica, sans-serif;
    margin: 0 auto 15px; }
  #contact .title-divider {
    max-width: 280px; }
  #contact .details-layout ul {
    margin: 0 0 24px;
    padding: 0; }
  #contact .details-layout:last-child ul {
    margin-bottom: 0;
    margin-left: 0; }
  #contact .details-layout:last-child .subtitle {
    margin-top: 45px; }
  #contact .contact-info li {
    color: #fefefe;
    display: block;
    font: 14px gotham-medium, Arial, Helvetica, sans-serif;
    margin: 0 0 0.6em 0;
    opacity: 0.7;
    padding: 0;
    padding-left: 40px;
    position: relative;
    text-align: left; }
    #contact .contact-info li:nth-child(2) {
      line-height: 1.4;
      margin: 0 0 0.3em 0; }
    #contact .contact-info li i {
      left: 4%;
      position: absolute;
      top: 0.175em; }
  #contact .social-media-list {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 100%; }
    #contact .social-media-list li {
      float: left; }
      #contact .social-media-list li:first-child a {
        margin-left: 8px; }
      #contact .social-media-list li:last-child a {
        margin-right: 0; }
      #contact .social-media-list li i {
        left: 23%;
        position: absolute;
        top: 0.375em; }
    #contact .social-media-list a {
      border: 2px solid #fefefe;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      color: #fefefe;
      display: block;
      font-size: 20px;
      margin: 0 4px;
      opacity: 0.7;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #contact .social-media-list :hover {
      opacity: 1; }
    #contact .social-media-list .facebook :hover {
      border-color: #719bf2;
      color: #719bf2; }
    #contact .social-media-list .twitter :hover {
      border-color: #50c0ed;
      color: #50c0ed; }
    #contact .social-media-list .instagram :hover {
      border-color: #fc67e8;
      color: #fc67e8; }
    #contact .social-media-list .tumblr :hover {
      border-color: #91cbf2;
      color: #90bddb; }

/* Footer */
#footer {
  background: #fefefe;
  color: #222;
  opacity: 0.6;
  padding: 14px 0;
  text-transform: uppercase; }

.copyright {
  color: #222;
  font: 10px gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  margin: 0;
  opacity: 0.7; }

/* Contact form */
.form-group:last-child, .form-group.form-group-5 {
  margin-bottom: 0; }

.form-control, .has-success .form-control {
  background-color: transparent;
  border: 2px solid #fefefe;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none;
  color: #fefefe;
  font: 13px gotham-medium, Arial, Helvetica, sans-serif;
  font-weight: normal;
  height: 35px;
  letter-spacing: 0.02em;
  margin: 0 auto;
  opacity: 0.7;
  outline: 0;
  padding: 0 15px;
  position: relative;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  width: 92.5%; }

.form-control:focus, .has-success .form-control:focus, .has-error .form-control:focus, .has-error .form-control {
  border-color: #fefefe;
  color: #fefefe;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  opacity: 1; }

.form-control::placeholder {
  color: #fefefe; }
.form-control.message {
  height: 120px;
  padding: 10px 15px; }

.contact-button.btn {
  border: 2px solid #fefefe;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #fefefe;
  display: inline-block;
  font: 0.9em gotham-black, Arial, Helvetica, sans-serif;
  letter-spacing: 0.12em;
  margin: 0 22.5px;
  max-width: 200px;
  outline: 0;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .contact-button.btn:hover {
    background: #fefefe;
    color: #222; }

.bv-form .help-block {
  margin-top: 2px;
  margin-bottom: -13px;
  padding-left: 4%; }

.has-error .help-block, .has-success .help-block, .success-msg {
  color: #fefefe;
  font: 10px gotham-medium, Arial, Helvetica, sans-serif;
  opacity: 0.7; }

.success-msg {
  background: #7bd19b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: none;
  font-size: 11px;
  height: 30px;
  opacity: 1;
  padding: 5px 10px;
  width: 200px; }

/* Highlight modals */
.highlight-modal .container {
  opacity: 1;
  padding: 0; }
.highlight-modal .modal-backdrop {
  background-color: transparent; }
.highlight-modal .modal-content {
  background: #fefefe;
  border: 0;
  border-radius: 0;
  min-height: 100%;
  padding: 0;
  text-align: center; }
.highlight-modal .close-modal {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: 0;
  cursor: pointer;
  outline: 0;
  position: absolute;
  right: 50px;
  top: 20px; }
  .highlight-modal .close-modal .lr {
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1051; }
    .highlight-modal .close-modal .lr .rl {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      z-index: 1052; }
  .highlight-modal .close-modal .lr, .highlight-modal .close-modal .lr .rl {
    background: rgba(34, 34, 34, 0.6);
    height: 50px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 1px; }
  .highlight-modal .close-modal:hover .lr, .highlight-modal .close-modal:hover .lr .rl {
    background: #222; }

/* Modal content */
.overflow-hidden {
  overflow: hidden; }

.animation-chain {
  visibility: hidden; }

.modal-layout:first-child {
  margin-bottom: 10px; }
.modal-layout .animated {
  visibility: visible;
  animation-duration: 0.6s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }
.modal-layout .title {
  font: 25px gotham-medium, Arial, Helvetica, sans-serif;
  margin: 60px 0 0;
  padding-bottom: 15px; }
#highlight-set-acad .modal-layout .title-divider {
  max-width: 435px; }
#highlight-set-christ .modal-layout .title-divider {
  max-width: 320px; }
#highlight-set-profile .modal-layout .title-divider {
  max-width: 360px; }
.modal-layout .timeline {
  color: #222;
  margin: 5px auto 0;
  opacity: 1;
  padding: 0;
  position: relative; }
  .modal-layout .timeline::before {
    background: #222;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px; }
  .modal-layout .timeline > li {
    letter-spacing: 0.04em;
    padding: 1.2em 0;
    position: relative;
    text-transform: uppercase;
    width: 50%; }
    .modal-layout .timeline > li:nth-child(odd) {
      left: 50%;
      padding-left: 30px;
      text-align: left; }
      .modal-layout .timeline > li:nth-child(odd):before {
        left: -15px; }
      .modal-layout .timeline > li:nth-child(odd):after {
        left: -18px; }
      .modal-layout .timeline > li:nth-child(odd) .icon {
        left: 0;
        -webkit-transform: translateY(-50%) translateX(-100%) translateX(-61px);
        -moz-transform: translateY(-50%) translateX(-100%) translateX(-61px);
        -o-transform: translateY(-50%) translateX(-100%) translateX(-61px);
        transform: translateY(-50%) translateX(-100%) translateX(-61px); }
        .modal-layout .timeline > li:nth-child(odd) .icon:before, .modal-layout .timeline > li:nth-child(odd) .icon:after {
          left: 100%;
          margin-left: 5px; }
        .modal-layout .timeline > li:nth-child(odd) .icon:after {
          margin-left: 0;
          -webkit-transform: translateY(-50%) translateX(-50%) translateX(61px);
          -moz-transform: translateY(-50%) translateX(-50%) translateX(61px);
          -o-transform: translateY(-50%) translateX(-50%) translateX(61px);
          transform: translateY(-50%) translateX(-50%) translateX(61px); }
    .modal-layout .timeline > li:nth-child(even) {
      padding-right: 30px;
      text-align: right; }
      .modal-layout .timeline > li:nth-child(even):before {
        right: -15px; }
      .modal-layout .timeline > li:nth-child(even):after {
        right: -18px; }
      .modal-layout .timeline > li:nth-child(even) .icon {
        right: 0;
        -webkit-transform: translateY(-50%) translateX(100%) translateX(61px);
        -moz-transform: translateY(-50%) translateX(100%) translateX(61px);
        -o-transform: translateY(-50%) translateX(100%) translateX(61px);
        transform: translateY(-50%) translateX(100%) translateX(61px); }
        .modal-layout .timeline > li:nth-child(even) .icon:before, .modal-layout .timeline > li:nth-child(even) .icon:after {
          right: 100%;
          margin-right: 5px; }
        .modal-layout .timeline > li:nth-child(even) .icon:after {
          margin-right: 0;
          -webkit-transform: translateY(-50%) translateX(50%) translateX(-61px);
          -moz-transform: translateY(-50%) translateX(50%) translateX(-61px);
          -o-transform: translateY(-50%) translateX(50%) translateX(-61px);
          transform: translateY(-50%) translateX(50%) translateX(-61px); }
    .modal-layout .timeline > li h3, .modal-layout .timeline > li h4 {
      margin-top: 0;
      margin-bottom: 0; }
    .modal-layout .timeline > li h3 {
      font: 1.25em gotham-black, Arial, Helvetica, sans-serif; }
    .modal-layout .timeline > li h4 {
      font: 1.05em gotham-black, Arial, Helvetica, sans-serif;
      opacity: 0.7; }
      .modal-layout .timeline > li h4 span {
        padding-left: 8px; }
    .modal-layout .timeline > li .date, .modal-layout .timeline > li h4 span {
      font: 1.05em gotham-medium, Arial, Helvetica, sans-serif;
      opacity: 0.7; }
    .modal-layout .timeline > li .modal-content-list {
      margin-top: 5px; }
    .modal-layout .timeline > li:before, .modal-layout .timeline > li:after, .modal-layout .timeline > li .icon {
      background: #fefefe;
      content: "";
      display: block;
      position: absolute;
      top: 3em;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .modal-layout .timeline > li:before {
      box-shadow: 0 0 0 2px rgba(34, 34, 34, 0.7);
      border-radius: 30px;
      height: 30px;
      width: 30px; }
    .modal-layout .timeline > li:after {
      height: 34px;
      width: 17px; }
    .modal-layout .timeline > li .icon {
      z-index: 1; }
      .modal-layout .timeline > li .icon:before {
        background: #222;
        height: 1px;
        opacity: 0.7;
        width: 45px;
        content: "";
        display: block;
        position: absolute;
        top: 50%; }
      .modal-layout .timeline > li .icon:after {
        background: #fefefe;
        border-radius: 15px;
        box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.7);
        height: 14px;
        width: 14px;
        content: "";
        display: block;
        position: absolute;
        top: 50%; }
      .modal-layout .timeline > li .icon [class*="icon-"] {
        background-size: 100%;
        height: 70px;
        width: 70px;
        opacity: 0.7; }
      .modal-layout .timeline > li .icon .icon-work {
        background: url("../img/suitcase.svg") center no-repeat;
        height: 60px; }
      .modal-layout .timeline > li .icon .icon-educ {
        background: url("../img/cap.svg") center no-repeat; }
      .modal-layout .timeline > li .icon .icon-prex {
        background: url("../img/prex-youth.svg") center no-repeat; }
      .modal-layout .timeline > li .icon .icon-sfc {
        background: url("../img/singles-for-christ.svg") center no-repeat; }
      .modal-layout .timeline > li .icon .icon-ctk-1, .modal-layout .timeline > li .icon .icon-ctk-2 {
        background: url("../img/ctk-greenmeadows.svg") center no-repeat; }
      .modal-layout .timeline > li .icon .icon-apc {
        background: url("../img/asia-pacific-college.svg") center no-repeat; }
      .modal-layout .timeline > li .icon .icon-feast {
        background: url("../img/the-feast.svg") center no-repeat; }
      .modal-layout .timeline > li .icon .icon-jlgnava-profile {
        background: url("../img/jlgnava-profile.jpg") center no-repeat;
        left: -200px;
        top: -40px; }
      .modal-layout .timeline > li .icon .icon-jlgnava-favorites {
        background: url("../img/jlgnava-fav.jpg") center no-repeat;
        right: 0;
        top: -20px; }

#highlight-set-profile .modal-layout .timeline::before {
  left: 33.3%; }
#highlight-set-profile .modal-layout .timeline > li {
  padding-top: 1.4em;
  padding-bottom: 1.4em; }
  #highlight-set-profile .modal-layout .timeline > li:nth-child(odd), #highlight-set-profile .modal-layout .timeline > li:nth-child(even) {
    left: 33.3%;
    padding-left: 30px;
    padding-right: 0;
    text-align: left; }
  #highlight-set-profile .modal-layout .timeline > li:nth-child(even) .icon:before, #highlight-set-profile .modal-layout .timeline > li:nth-child(even) .icon:after {
    left: 100%;
    margin-left: 5px;
    right: 0;
    margin-right: 0; }
  #highlight-set-profile .modal-layout .timeline > li:nth-child(even):before {
    left: -15px;
    right: 0; }
  #highlight-set-profile .modal-layout .timeline > li:nth-child(even):after {
    left: -18px;
    right: 0; }
  #highlight-set-profile .modal-layout .timeline > li:nth-child(even) .icon {
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-100%) translateX(-61px);
    -moz-transform: translateY(-50%) translateX(-100%) translateX(-61px);
    -o-transform: translateY(-50%) translateX(-100%) translateX(-61px);
    transform: translateY(-50%) translateX(-100%) translateX(-61px); }
    #highlight-set-profile .modal-layout .timeline > li:nth-child(even) .icon:after {
      margin-left: 0;
      -webkit-transform: translateY(-50%) translateX(-50%) translateX(61px);
      -moz-transform: translateY(-50%) translateX(-50%) translateX(61px);
      -o-transform: translateY(-50%) translateX(-50%) translateX(61px);
      transform: translateY(-50%) translateX(-50%) translateX(61px); }
  #highlight-set-profile .modal-layout .timeline > li .icon:before {
    background: transparent;
    box-shadow: 0 0 0 2px rgba(34, 34, 34, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 210px;
    width: 210px;
    content: ""; }
  #highlight-set-profile .modal-layout .timeline > li .icon [class*="icon-jlgnava-"] {
    background-size: 120%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    opacity: 1;
    position: absolute; }
  #highlight-set-profile .modal-layout .timeline > li:first-child .icon:before {
    top: -45px;
    left: -210px; }
  #highlight-set-profile .modal-layout .timeline > li:last-child .icon:before {
    top: -25px;
    left: 415px; }

/* Mobile devices */
@media screen and (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0; }

  .page-title {
    font: 24px gotham-medium, Arial, Helvetica, sans-serif;
    letter-spacing: 0.14em; }
  .page-captions {
    font: 0.85em gotham-black, Arial, Helvetica, sans-serif;
    letter-spacing: 0.063em;
    padding: 5px 30px 0; }
    .page-captions span {
      margin-right: 5px; }
      .page-captions span:last-child {
        margin-right: 0; }
      .page-captions span:not(:last-child)::after {
        margin-left: 5px; }

  #top-section .scroll-down .scroll-down-btn {
    font: 0.95em gotham-black, Arial, Helvetica, sans-serif;
    letter-spacing: 0.08em;
    max-width: 180px;
    padding: 12px 0 9.5px; }

  .navbar {
    background: #222;
    font: 0.95em gotham-black, Arial, Helvetica, sans-serif;
    min-height: 60px; }
    .navbar .td {
      display: block; }
    .navbar .nav-top a {
      color: #222;
      opacity: 0.6; }
    .navbar #logo {
      float: none;
      padding-left: 12.5 px; }
      .navbar #logo a {
        height: 50px;
        width: 50px; }
        .navbar #logo a > img {
          height: 50px;
          width: 50px;
          margin: 4px 0 0;
          position: relative; }
          .navbar #logo a > img.dark-logo {
            margin-bottom: -46px; }
          .navbar-slide #logo a > img.light-logo {
            opacity: 0.7; }
          .navbar-slide #logo a > img.dark-logo {
            opacity: 0; }
    .navbar-slide .nav-show-menu {
      background: transparent; }
    .navbar-slide .nav-top li {
      border-bottom: 1px solid rgba(34, 34, 34, 0.6); }
    .navbar-toggle {
      display: block; }
  .nav-top {
    float: none;
    margin: 0 auto;
    text-align: left; }
    .nav-top li {
      border-bottom: 1px solid rgba(34, 34, 34, 0.6);
      display: block;
      margin-left: 0;
      margin-right: 0;
      padding: 20px 0; }

  .navbar-slide .nav-top li:last-child, .nav-top li:last-child {
    border-bottom: none; }

  .navbar-collapse, .navbar-slide .navbar-collapse {
    background: #ececec;
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: visible;
    position: absolute;
    width: 100%; }

  .navbar-collapse .nav-top a:hover, .navbar-collapse .nav-top a:first-child:hover, .navbar-slide .navbar-collapse .nav-top a:first-child:hover {
    opacity: 1; }

  #profile .profile-content, #highlights .overlay-wrap, #photo-gallery .gallery-content {
    padding: 75px 0; }

  .title {
    font: 20px gotham-medium, Arial, Helvetica, sans-serif;
    letter-spacing: 0.08em;
    line-height: 1.2;
    margin: 15px 0 0;
    padding-bottom: 15px; }

  #profile .title-divider, #highlights .title-divider, #photo-gallery .title-divider, #contact .title-divider, .modal-layout .title-divider, #highlight-set-profile .modal-layout .title-divider {
    max-width: 500px; }

  #profile .col-md-6 {
    margin-left: 0;
    padding-right: 0; }
  #profile .headshot {
    margin: 15px auto 0;
    width: 280px; }
  #profile .last-col, #profile #contact .col-md-4, #contact #profile .col-md-4 {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; }
  #profile .subtitle {
    font: 16px gotham-black, Arial, Helvetica, sans-serif;
    margin: 15px auto 15px; }
  #profile .desc {
    font: 10px gotham-medium, Arial, Helvetica, sans-serif; }

  .scroll-down .nextbutton {
    display: none; }

  .highlight-set {
    padding: 10px 0; }

  .highlight-set, .photo-gallery {
    padding: 10px 0; }

  .highlight-set-item::before {
    height: 150px;
    width: 150px; }
  .highlight-set-item::after {
    background-size: 240px;
    display: inline-block;
    height: 80px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    zoom: 1; }
  .highlight-set-item.acad::after {
    background-position: 0; }
  .highlight-set-item.christ::after {
    background-position: -80px 0; }
  .highlight-set-item.profile::after {
    background-position: -160px 0; }
  .highlight-button .btn {
    max-width: 110px;
    padding: 8px 0; }

  .highlight-title, .gallery-title {
    font: 1.25em gotham-black, Arial, Helvetica, sans-serif; }

  .highlight-title, .highlight-button, .gallery-title, .gallery-button {
    margin: 15px 0 0; }

  .gallery-button .btn {
    max-width: 120px;
    padding: 8px 0; }
  .photo-gallery-item::before {
    background-size: 600px;
    height: 150px;
    width: 150px; }
  .photo-gallery-item.portfolio::before {
    background-position: 0; }
  .photo-gallery-item.prayer::before {
    background-position: -300px 0; }
  .photo-gallery-item.gigs::before {
    background-position: -450px 0; }

  #contact .pad-left {
    padding-left: 0; }
  #contact .col-md-4 {
    margin: auto 26.5%;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  #contact .col-md-4, #contact .last-col {
    margin-top: 20px; }
  #contact .col-md-8.last-col, #contact .col-md-8.col-md-4 {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  #contact .subtitle {
    font: 14px gotham-black, Arial, Helvetica, sans-serif; }
  #contact .contact-info li {
    font: 12px gotham-medium, Arial, Helvetica, sans-serif;
    margin: 0 0 0.6em;
    padding-left: 25px; }
    #contact .contact-info li i {
      left: 0; }
    #contact .contact-info li:nth-child(2) {
      margin: 0 0 0.3em; }
  #contact .details-layout ul {
    margin: 0; }
  #contact .details-layout:last-child .subtitle {
    margin-top: 40px; }
  #contact .details-layout:last-child ul {
    float: left;
    margin-bottom: 0; }
    #contact .details-layout:last-child ul li {
      display: inline-block; }
  #contact .social-media-list a {
    font-size: 16px;
    height: 32px;
    width: 32px;
    margin: 0 14px; }
  #contact .social-media-list li:first-child a {
    margin-left: 0; }

  .form-control, .has-success .form-control {
    font: 11px gotham-medium, Arial, Helvetica, sans-serif;
    height: 30px;
    padding: 0 12px;
    width: 90%; }

  .form-control .message {
    padding: 10px 12px; }

  .contact-button.btn {
    font: 0.85em gotham-black, Arial, Helvetica, sans-serif;
    margin: 0 0 22.5px;
    max-width: 180px;
    padding: 10px 12px; }

  .highlight-modal .close-modal {
    height: 30px;
    right: 20px;
    top: -50px; }
    .highlight-modal .close-modal .lr, .highlight-modal .close-modal .lr .rl {
      height: 30px; }

  .modal-layout .title {
    font: 20px gotham-medium, Arial, Helvetica, sans-serif;
    padding-bottom: 10px; }
  .modal-layout .timeline > li {
    width: 100%; }
    #highlight-set-profile .modal-layout .timeline > li {
      padding-top: 2.3em;
      padding-bottom: 2.3em; }
    .modal-layout .timeline::before, #highlight-set-profile .modal-layout .timeline::before, .modal-layout .timeline > li:nth-child(odd):before, .modal-layout .timeline > li:nth-child(odd):after, .modal-layout .timeline > li:nth-child(odd) .icon:before, .modal-layout .timeline > li:nth-child(odd) .icon:after, .modal-layout .timeline > li:nth-child(even):before, .modal-layout .timeline > li:nth-child(even):after, .modal-layout .timeline > li:nth-child(even) .icon:before, .modal-layout .timeline > li:nth-child(even) .icon:after, #highlight-set-profile .modal-layout .timeline > li .icon, #highlight-set-profile .modal-layout .timeline > li .icon:before {
      display: none; }

    .modal-layout .timeline > li:nth-child(odd), #highlight-set-profile .modal-layout .timeline > li:nth-child(odd), #highlight-set-profile .modal-layout .timeline > li:nth-child(even) {
      left: 0;
      padding-left: 10px; }

    .modal-layout .timeline > li:nth-child(even) {
      padding-left: 10px;
      padding-right: 0;
      text-align: left; }

    .modal-layout .timeline > li:nth-child(odd) .icon, .modal-layout .timeline > li:nth-child(even) .icon {
      left: 28.5%; }

    .modal-layout .timeline > li:nth-child(even) .icon {
      right: auto;
      -webkit-transform: translateY(-50%) translateX(-100%) translateX(-61px);
      -moz-transform: translateY(-50%) translateX(-100%) translateX(-61px);
      -o-transform: translateY(-50%) translateX(-100%) translateX(-61px);
      transform: translateY(-50%) translateX(-100%) translateX(-61px); }
    .modal-layout .timeline > li .icon [class*="icon-"] {
      height: 60px;
      width: 60px; }
    .modal-layout .timeline > li .icon .icon-work {
      background: url("../img/suitcase.svg") center no-repeat;
      height: 45px; }
    .modal-layout .timeline > li .icon .icon-ctk-1, .modal-layout .timeline > li .icon .icon-ctk-2 {
      height: 70px; }
    .modal-layout .timeline > li .icon:after {
      background: transparent; }
    .modal-layout .timeline > li h3 {
      font: 1.15em gotham-black, Arial, Helvetica, sans-serif; }
    .modal-layout .timeline > li h4 {
      font: 0.95em gotham-black, Arial, Helvetica, sans-serif; }
    .modal-layout .timeline > li h4 span, .modal-layout .timeline > li .date {
      font: 0.95em gotham-medium, Arial, Helvetica, sans-serif; }
    .modal-layout .timeline > li .details {
      margin-left: 16.6%; } }
@media screen and (max-width: 500px) {
  #contact .col-md-4 {
    margin: auto 20%;
    padding-left: 0;
    padding-right: 0;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
