@import "partials/mixvar";
@import "partials/mobile";
@import url("fonts.css");
@import url("animations.css");

*{
	margin: 0;
	padding: 0;	
}
html{
	height: $full-size;
}
body{
	background: $white;
	color: $default-text-color;
	font-family: $default-font;
	font-size: $standard-font-size;
	height: $full-size;
	margin: $margin-default;	
	opacity: 1;
	position: relative;
	@include font-smooth;
	@include transition-all(0.7s, ease-in-out);
}
body.load{ opacity: 1;}

a, a:active, a:hover{ 
	border: 0; 
	margin: 0;
	outline: none; 
	text-decoration: none; 
}
img, table{ border: none; }
ul, ol{ list-style: none;}
img{ max-width: $full-size; height: auto;}
input, hr, select, textarea{ background: transparent; border: none; outline: 0; }
.cf{ clear: both; zoom: 1;}
.container{ opacity: 1;}
table{ border-collapse: collapse;}
section, footer{ position: relative; width: $full-size;}
input, input:before, input:after {
	@include vendor-elements(user-select, initial);
}
@each $align in left, right, center, justify{
	##{$align}, .align-#{$align}{ text-align: $align;}
}
@each $valign in top, middle, bottom{
	.vertical#{$valign}{ vertical-align: $valign;}
}

.wrap{ margin: $margin-default; width: $full-size;}	
.transition{ @include transition-all(0.15s, ease-in-out);}
::selection, input::selection{ background: $selection; color: $white; text-shadow: none;}
.container-full{ height: $full-size; margin: $margin-default; width: $full-size;}
.table, .tr, .td{ float: none;}
.table{ display: table; margin-bottom: 0;}

@each $table, $table-display in (tr, row), (td, cell){
	.#{$table}{ display: table-#{$table-display};}
}
.btn, .form-control{ @include font-smooth;}
.row{ @include lr-direct(margin, -15px);}

/* Top section */
#top-section{
	@include background-details("coffee-and-laptop.jpg", cover);
	@include full-size;
	display: table;
	overflow: hidden;
	position: relative;
	z-index: 1;

	header{
		display: block;
		top: $full-size/2;
		z-index: 5;
		zoom: 1;
	}
	.container{ display: table; height: $full-size; opacity: 1;}
	.row{ float: left; height: 100%; margin: 260px auto 0;}
	section{ display: table-cell; vertical-align: middle;}
	.overlay-wrap{ display: table; height: $full-size; padding-bottom: 60px;}
	.page-title{ display: block; margin: 20px 0 0; padding: 0;}

	.scroll-down{ 
		top: 80px;
		@at-root .scroll-down{
			left: 0;
			margin: auto;
			position: relative;
			width: $full-size;
		}
		&-btn{
			border: 2px solid $off-white;
			@include vendor-elements(border-radius, 30px);
			color: $off-white;
			display: block;
			font: 1.1em gotham-black, Arial, Helvetica, sans-serif;
			letter-spacing: 0.08em;
			max-width: 215px;
			margin: auto;
			padding: 15px 0 12.5px;
			text-transform: uppercase;
			@include transition-all(.15s, ease-in-out);	
			&:hover{ background: $off-white; color: #222;}
		}	
	}
}

.overlay-wrap{	
	background: rgba(32, 33, 33, 0.75); 
	content: "";
	left: 0;
	top: 0;
	@include full-size;
	#highlights &, #contact &{ @extend %overlay-wrap;}
}

.page{
	&-title{    
		color: $off-white;
		@include font(52px, gotham-medium);
	    letter-spacing: 0.18em;
	    line-height: 0.9;
	    margin: 0;
	    opacity: 1;
	    padding: 0 0 5px;
	    text-transform: uppercase;
	}
	&-captions{
		color: rgba(250, 250, 250, 0.7);
	    @include font(1.1em, gotham-black);
		letter-spacing: 0.08em;
	    line-height: 1.3;
	    margin: 0;
		padding: 15px 0 0;
	    text-transform: uppercase; 
	    span{ 
	    	margin-right: 10px;
	    	&:last-child{ margin-right: 0;}
	    	&:not(:last-child)::after{
	    		color: $off-white;
				content: $bullet;	
				margin-left: 10px;
				opacity: 0.7;
	    	}
	    }
	}
}

/* Navigational menu */
%navbar-bg{ background: transparent;}
.navbar{
	@extend %navbar-bg;
	border: none;
    @include font(1.1em, gotham-black);
	letter-spacing: 0.06em;
	margin: $margin-default;
	width: $full-size;	
	@include transition-property(background, .3s, ease-in-out);	
	.container{ opacity: 1;}

	#logo{
		float: left; padding-left: 15px; width: 1px;
		a{ 
			height: 70px; width: 70px;
			& > img{
				display: block;
				height: 70px;
				margin: 10px 12px 0;
				position: absolute;
				@include transition-all(.3s, ease-in-out);	
				width: 70px;

				@each $scale in dark, light{
					&.#{$scale}-logo{
						@if $scale == "dark" { opacity: 0;}
						@else if $scale == "light" { opacity: 0.7; z-index: 2;}
					}
				} 
			}
			&:hover > img.light-logo{ opacity: 1; z-index: 1;}
		}
	}
	&-collapse{ @extend %navbar-bg;}
	&-fixed-top{ border-width: 0;}
}
.nav{
	&-top{ 
		float: right; margin: 40px auto; text-align: right;
		li{
			border-bottom: none; 
			display: inline-block;
			margin-left: 4px;
			margin-right: 4px;
			padding: 0;
			position: relative;
			vertical-align: baseline;	
			zoom: 1;
			&.active a{ @extend %nav-opacity;}
		}
		a{ 
			color: $white; opacity: 0.7; text-transform: uppercase;
			&:hover, .navbar-slide &:hover{ @extend %nav-opacity;}
		}
	}
	> li > a{ 
		padding: 0 8px;
		&:hover, &:focus{ background: transparent; outline: 0;}
	}
}
%nav-opacity{ opacity: 1;}

/* Navigational menu changes */
.navbar-slide{ 
	background: $semi-white; 
	left: 0; 
	top: 0;
	.nav-top{
		a{ color: $black; opacity: 0.6;}
		li{ border-bottom: none;}
	}
	#logo a{
		@each $scale in dark, light{
			> img.#{$scale}-logo{
				@if $scale == "dark" { opacity: 1; z-index: 2;}
				@else if $scale == "light" { opacity: 0;}
			}
		} 
	}
}

/* Sidebar menu button */
.navbar-toggle{
	background: transparent;
	border: none;
	margin-top: 0;
	margin-right: 0;
	outline: 0;
	padding: 1em;
	position: absolute;
	right: 0.75em;
	top: 1.5em;
}

%hamburger-effect{
	background: $semi-white;	
	@include vendor-elements(border-radius, 2px);
	content: "";
	display: block;
	height: 2px;
	opacity: 0.7;
	@include transition-all(.3s, ease);	
	width: 1.75em;
}
%opacity{ opacity: 1;}
%hamburger-chain{ @extend %hamburger-effect; @extend %opacity; }

.hamburger{
	@extend %hamburger-chain;
	&::before{ @extend %hamburger-chain; transform: rotate(0) translateY(-6px);}
	&::after{ @extend %hamburger-chain; transform: rotate(0) translateY(-6+10px);}
	.open &{ 
		transform: rotate(45deg);
		&::before{ opacity: 0;}
		&::after{ transform: translateY(-6+4px) rotate(-90deg);}
	}	
}

/* Content */
@each $page-col, $hd, $value in (pad-left, left, 0.1), (last-col, right, 0.09){
	.#{$page-col}{ padding-#{$hd}: percentage($value); text-align: left;}
}

%white-section{ background: $semi-white;}
%padding-section{ padding: 110px 0;}
%overlay-wrap{ display: table; height: $full-size; }
%dark-title-color{ color: $black;}
%dark-td-color{ background: $black;}
%light-title-color{ color: $off-white;}
%light-td-color{ background: $off-white;}

.title{
	@include font(30px, gotham-medium);
	letter-spacing: 0.15em;
	line-height: 1;
	margin: 20px #{20*3}px 0; 
	padding-bottom: 25px;
	text-transform: uppercase;
	opacity: 1;
	#profile &, #photo-gallery &, .modal-layout &{ @extend %dark-title-color;}
	#highlights &, #contact &{ @extend %light-title-color;}
	&-divider{
		height: 2px;
		margin: 0 auto 15px; 
		max-width: 480px;
		opacity: 0.6;
		#profile &, #photo-gallery &, .modal-layout &{ @extend %dark-td-color;}
		#highlights &, #contact &{ @extend %light-td-color;}
	}
}
.subtitle{
	display: inline-block;
	@include font(18px, gotham-black);
	letter-spacing: 0.1em;
	line-height: 1.2;
	margin: #{15*2}px auto 15px;
	text-transform: uppercase;
	opacity: 0.6;
	#profile &{ @extend %dark-title-color;}
	#highlights &{ @extend %light-title-color;}
}
.scroll-down{ 
	position: relative; top: 100px;
	.nextbutton{
		bottom: 60px;
		display: block;
		left: percentage(1/2);
		margin-left: -15px;
		position: relative;
		span{ display: block; @include square-size(30); text-indent: -99999px;}
		&.nobg{ 
			@include square-size(30);
			span{ 
				opacity: 0.6; @include transition-all(.3s, ease);
				&:hover{ opacity: 1;}
			}
			@each $scale, $color in (light, ""), (dark, "-white"){
				&.#{$scale}-section span{
					@include background-img("down-chevron#{$color}", svg);
					background-size: $full-size;
				}
			}	
		}
	}
}

%item-section-format{ margin: $margin-default; padding: 40px 0;}
%item-format{ margin: $margin-default 20px;}

/* Profile section*/
#profile{
	@extend %white-section;
	.profile-content{ @extend %padding-section;}
	.title-divider{ max-width: 440px;}
	@each $profile-cols in col-md-6, col-md-12, last-col{
		.#{$profile-cols}{
			@if $profile-cols == "col-md-6"{ margin-left: -10px; padding-left: 0; padding-right: 15px;}
			@else if $profile-cols == "col-md-12"{ padding-left: 0; padding-right: 0;}
			@else{ margin-left: -10px; padding-left: 0; padding-right: 5%; text-align: left;}
		}
	}
	.headshot{ margin: 30px auto 0; width: 320px;}
	.desc{ 
		display: block;
		float: none;
		@include font(12px, gotham-medium);
		line-height: 1.2;
		opacity: 0.6;
		text-align: justify;
		@extend %dark-title-color;
		&-section{
			margin-bottom: 10px;
			&:last-child{ margin-bottom: 0;}
		}
	}
	.subtitle{ @include font(18px, gotham-black); margin: 30px auto 15px;}
} 

/* Highlights section */
#highlights{
	@include background-details("computer-desk.jpg", cover);
	overflow: hidden;
	.title-divider{ max-width: 560px;}
	.overlay-wrap{ @extend %padding-section;}
	.desc{ @extend %light-title-color;}
}

%clearfix{ @include clearfix;}
.highlight{
	&-set{ 
		@extend %item-section-format;
		&-item{
			@extend %item-format;
			&::before{
				@extend %clearfix;
				border: 4px solid $semi-white;
				@include vendor-elements(border-radius, 50%);
				@include square-size(200);
				margin: $margin-default;
				opacity: 0.7;
				z-index: 0;	
			}
			&::after{
				@extend %clearfix;
				@include background-details("jlgnava-highlights.png", 360px);
				@include square-size($hsi-size);
			    display: inline-block;
			    left: ($full-size)/2;
			    margin-left: -60px;
			    opacity: 0.85;
			    overflow: hidden;
			    position: absolute;
			    vertical-align: middle;
			    top: 35px;
			    zoom: 1;
			}
			
			@each $hs-item in $hs-item-list{
				&.#{$hs-item}::after{ 
					@if $i > 1{ background-position: #{(-$hsi-size)*(($i)-1)}px 0;}
					@else{ background-position: 0;}
				}
				$i: $i + 1;
			}
		}
	}
	&-title{
		@extend %highlight-section-layout;
		color: rgba($off-white, 0.7);
		@include font(1.4em, gotham-black);
		letter-spacing: 0.08em;
		line-height: 1;
		text-transform: uppercase;	
	}
	@at-root %highlight-section-layout{ margin: 20px 0 0;}
	&-button{
		@extend %highlight-section-layout;
		.btn{
			border: 2px solid $off-white;
			@include vendor-elements(border-radius, 30px);
			color: $semi-white;
			display: block;
			@include font(0.9em, gotham-black);
			letter-spacing: 0.08em;
			margin: auto;
			max-width: 120px;
			outline: 0;
			padding: 10px 0;
			text-decoration: none;
			text-transform: uppercase;	
			@include transition-all(.15s, ease-in-out);	
			&:hover{ background: $off-white; color: $black;}
		}
	} 
}

/* Gallery section */
#photo-gallery{
	@extend %white-section;
	.gallery-content{ @extend %padding-section;}
	.title-divider{ max-width: 520px;}
} 
.photo-gallery{ 
	@extend %item-section-format;
	&-item{
		@extend %item-format;
		&::before{
			@include background-no-repeat("jlgnava-gallery.jpg", 800px);
			@include vendor-elements(border-radius, 50%);
			@include square-size($photo-size);
			@include clearfix;
			margin: $margin-default;
			z-index: 0;	
		}
		@each $item in $photo-list{
			&.#{$item}::before{ 
				@if $i > 1{ background-position: #{(-$photo-size)*($i)}px 0;}
				@else{ background-position: 0;}
			}
			$i: $i + 1;
		}
	}
}

.gallery{
	&-title{
		@extend %gallery-section-layout;
		color: $black;
		@include font(1.4em, gotham-black);
		letter-spacing: 0.08em;
		line-height: 1;
		opacity: 0.6;
		text-transform: uppercase;	
	}
	@at-root %gallery-section-layout{ margin: 20px 0 0;}
	&-button{
		@extend %gallery-section-layout;
		.btn{
			border: 2px solid $black;
			@include vendor-elements(border-radius, 30px);
			color: $black;
			display: block;
			@include font(0.9em, gotham-black);
			letter-spacing: 0.08em;
			margin: auto;
			max-width: 140px;
			opacity: 0.6;
			outline: 0;
			padding: 10px 0;
			text-decoration: none;
			text-transform: uppercase;	
			@include transition-all(.15s, ease-in-out);	
			&:hover{ opacity: 1;}	
		} 
	}
}

/* Contact section */
#contact{
	@include background-details("get-in-touch.jpg", cover);
	overflow: hidden;
	.overlay-wrap{ background: transparent; padding: 85px 0;}
	.pad-left{ padding-left: percentage(2/50);}
	.last-col{ margin-top: 20px;}
	@each $col in $contact-cols{
		.col-md-#{$col}{
			$value: 12;
			@if $col == $value{ padding-left: 0; padding-right: 0;}
			@else if $col == $value/3{ 
				@extend .last-col; 
				padding-left: percentage(1/50); 
				padding-right: percentage(0.09); 
				text-align: left;
			}
			@else if $col == $value*(2/3){
				&.last-col{ padding-left: 15px; padding-right: percentage(1/10); text-align: left;}
			}
		}
	}
	.subtitle{ color: $semi-white; @include font(16px, gotham-black); margin: $margin-default 15px;}
	.title-divider{ max-width: 280px;}
	.details-layout{
		ul{ margin: 0 0 24px; padding: 0;}
		&:last-child{
			ul{ margin-bottom: 0; margin-left: 0;}
			.subtitle{ margin-top: 45px;}
		}
	} 
	.contact-info{
		li{
			color: $semi-white;
			display: block;
			@include font(14px, gotham-medium);
			margin: 0 0 0.6em 0;
			opacity: 0.7;
			padding: 0;
			padding-left: 40px;
			position: relative;	
			text-align: left;
			&:nth-child(2){ line-height: 1.4; margin: 0 0 #{(0.6/2)}em 0;}
			i{ left: percentage(2/50); position: absolute; top: 0.175em;}
		}
	}
	.social-media-list{ 
		display: inline-block; 
		margin: $margin-default; 
		position: relative; 
		width: $full-size;
		li{ 
			float: left;
			&:first-child a{ margin-left: 8px;}
			&:last-child a{ margin-right: 0;}
			i{ left: percentage(0.23); position: absolute; top: 0.375em;}
		}
		a{
			border: 2px solid $semi-white;
			@include vendor-elements(border-radius, 50%);
			@include square-size(40);
			color: $semi-white;
			display: block;
			font-size: 20px;
			margin: 0 4px;
			opacity: 0.7;
			position: relative;
			@include transition-all(.2s, ease-in-out);	
		}
		:hover{ opacity: 1;}
		@each $acct, $acct-color in $social-media{
			& .#{$acct} :hover{
				border-color: $acct-color;
				@if $acct == "tumblr"{ color: #90bddb;}
				@else{ color: $acct-color;}
			}
		}
	}
}

/* Footer */
#footer{
	background: $semi-white;
	color: $black;
	opacity: 0.6;
	padding: 14px 0;
	text-transform: uppercase;	
}
.copyright{
	color: $black;
	@include font(10px, gotham-black);
	letter-spacing: 0.08em;
	margin: 0;
	opacity: 0.7;
}

/* Contact form */
.form-group:last-child, .form-group.form-group-5{ margin-bottom: 0;}

%form-control-format{
	background-color: transparent;
    border: 2px solid $semi-white;
	@include vendor-elements(border-radius, 10px);
    box-shadow: none;
    color: $semi-white;
	@include font(13px, gotham-medium);
    font-weight: normal;
	height: 35px;
    letter-spacing: 0.02em;
    margin: $margin-default;
    opacity: 0.7;
    outline: 0;
	padding: 0 15px;
    position: relative;
    @include transition-property(opacity, .15s, ease-in-out);	
	width: #{($full-size)-7.5};
}
%form-control-box{
	border-color: $semi-white;
	color: $semi-white;
	@include vendor-elements(box-shadow, none);
	opacity: 1;
}
.form-control{
	@extend %form-control-format;
	&:focus{ @extend %form-control-box;}
	.has-success &{ 
		@extend %form-control-format;
		&:focus{ @extend %form-control-box;}
	}
	.has-error &{ 
		&:focus{ @extend %form-control-box;}
		@extend %form-control-box;
	}
	&::placeholder{ color: $semi-white;}
	&.message{ height: 120px; padding: 10px 15px;}
}

.contact-button{
	&.btn{
		border: 2px solid $semi-white;
		@include vendor-elements(border-radius, 10px);
		color: $semi-white;
		display: inline-block;
		@include font(0.9em, gotham-black);
		letter-spacing: 0.12em;
		margin: 0 22.5px;
		max-width: 200px;
		outline: 0;
		padding: 10px 15px;
		text-decoration: none;
		text-transform: uppercase;	
		@include transition-all(.15s, ease-in-out);		
		&:hover{ background: $semi-white; color: $black;}
	}
}

.help-block{
	.bv-form &{ margin-top: 2px; margin-bottom: -13px; padding-left: percentage(2/50);}
	.has-error &, .has-success &{ @extend %help-block;}
}
%help-block{ color: $semi-white; @include font(10px, gotham-medium); opacity: 0.7;}

.success-msg{ 
	@extend %help-block;
	background: $success-green;
	@include vendor-elements(border-radius, 10px);
	display: none; 
	font-size: 11px; 
	height: 30px;
	opacity: 1;
	padding: 5px 10px;
	width: 200px;
}

/* Highlight modals */
.highlight-modal{
	.container{ opacity: 1; padding: 0;}
	.modal{
		&-backdrop{ background-color: transparent;}
		&-content{
			background: $semi-white;
			border: 0;
			border-radius: 0;
			min-height: $full-size;
			padding: 0;
			text-align: center;
		}
	}
	.close-modal{
		background-color: transparent;
		@include square-size(50);
		border: 0;
		cursor: pointer;
		outline: 0;
		position: absolute;
		right: 50px;
		top: 20px;
		.lr{ 
			@extend %close-modal-button;
			margin-left: 35px; 
			@include vendor-elements(transform, rotate(45deg)); 
			z-index: 1051;
			.rl{
				@extend %close-modal-button;
				@include vendor-elements(transform, rotate(45*2deg)); 
				z-index: 1051+1;
			}
		}
		%close-modal-button{
			background: rgba($black, 0.6);
			height: 50px;
			@include transition-all(.15s, ease-in-out);	
			width: 1px;
		}
		&:hover{
			.lr, .lr .rl{ background: $black;}
		}	
	}
}

/* Modal content */
.overflow-hidden{ overflow: hidden;}
.animation-chain{ visibility: hidden;}
.modal-layout{
	&:first-child{ margin-bottom: 10px;}
	.animated{ visibility: visible; animation-duration: 0.6s; @include vendor-elements(transform, translateZ(0));}
	.title{ @include font(25px, gotham-medium); margin: 60px 0 0; padding-bottom: 15px;}
	@each $hs-item, $value in $hs-item-modal-list{
		#highlight-set-#{$hs-item} &{
			.title-divider{ max-width: #{$value}px;}
		}
	}
	.timeline{
		color: $black;
		margin: 5px auto 0;
		opacity: 1;
		padding: 0;
		position: relative;	

		&::before{
			background: $black;
			bottom: 0;
			content: "";
			display: block;
			left: $full-size/2;
			opacity: 0.7;
			position: absolute;	
			top: 0;
			@include vendor-elements(transform, translateX(-50%));
			width: 2px;
		}
		> li{
			letter-spacing: 0.04em;
			padding: 1.2em 0;
			position: relative;
			text-transform: uppercase;
			width: $full-size/2;
			@each $pattern, $col in (odd, left), (even, right){
				&:nth-child(#{$pattern}){
					@if $pattern == odd{ left: $full-size/2;}
					padding-#{$col}: 30px; text-align: #{$col};
					&:before{ #{$col}: -15px;}
					&:after{ #{$col}: -18px;}
					.icon{ 
						&%odd-even-layout{ #{$col}: $full-size; margin-#{$col}: 5px;}
						#{$col}: 0;
						@if $pattern == odd{ @include object-transform(-50%, -100%, -61);}
						@if $pattern == even{ @include object-transform(-50%, 100%, 61);}
						&:before{ @extend %odd-even-layout;}
						&:after{ 
							@extend %odd-even-layout;
							margin-#{$col}: 0;
							@if $pattern == odd{ @include object-transform(-50%, -50%, 61);}
							@if $pattern == even{ @include object-transform(-50%, 50%, -61);}
						}
					}
				}
			}	
			%modal-heading-margin{ margin-top: 0; margin-bottom: 0;}
			.date{ @extend %modal-span-font;}
			h3{ @extend %modal-heading-margin; @include font(1.25em, gotham-black);}
			h4{ 
				@extend %modal-heading-margin; 
				@include font(1.05em, gotham-black); 
				opacity: 0.7;
				span{ @extend %modal-span-font; padding-left: 8px;}
			}
			%modal-span-font{ @include font(1.05em, gotham-medium); opacity: 0.7; }
			.modal-content-list{ margin-top: 5px;}
			&%timeline-border, %icon{
				background: $semi-white;
				content: "";
				display: block;
				position: absolute;
				top: 3em;
				@include vendor-elements(transform, translateY(-50%));
			}
			&:before{ 
				@extend %timeline-border;
				box-shadow: 0 0 0 2px rgba($black, 0.7); 
				border-radius: 30px; 
				@include square-size(30);
			}
			&:after{ @extend %timeline-border; height: 34px; width: #{(34/2)}px;}
			.icon{
				@extend %icon; z-index: 1;
				&:before{
					background: $black;
					height: 1px;
					opacity: 0.7;	
					width: 45px;
					@include icon-content;
				}
				&:after{
					background: $semi-white;
					border-radius: 15px;
					box-shadow: 0 0 0 5px rgba($black,0.7);
					@include square-size(14);
					@include icon-content;
				}
				[class*="icon-"]{  background-size: $full-size; @include square-size(70); opacity: 0.7;}	
				@each $modal-icon, $svg-file in $modal-icons-list{
					@if $modal-icon == "ctk"{
						%ctk-foo{ @include background-img($svg-file, svg);}
						@for $i from 1 through 2{ 
							.icon-#{$modal-icon}-#{$i}{ @extend %ctk-foo;}
						}
					}
					@else{
						.icon-#{$modal-icon}{ 
							@include background-img($svg-file, svg);
							@if $modal-icon == "work"{ height: 60px;}
						}
					}	
				} 
				@each $jlgn-photo, $direct in (profile, left), (favorites, right){
					.icon-jlgnava-#{$jlgn-photo}{
						$photo-file: $jlgn-photo;
						$top-index: -40px;
						$init-value: -200px;
						@if $jlgn-photo == "favorites"{
							$photo-file: str-slice($jlgn-photo, 1, 3);
							$top-index: $top-index/2;
							$init-value: strip-unit($init-value - $init-value);
						}
						@include background-img("jlgnava-#{$photo-file}", jpg);
						#{$direct}: $init-value;
						top: $top-index;
					}
				}
			}
		}
		
	}
}

#highlight-set-profile{
	.modal-layout .timeline{
		&::before{ left: decimal-round(($full-size/3), 1);}
		> li{
			@include tb-direct(padding, 1.4em);
			&%hsp-layout{
				left: decimal-round(($full-size/3), 1);
				padding-left: 30px;
				padding-right: 0;
				text-align: left;
			}
			%hsp-icon-layout{
				left: $full-size;
				margin-left: 5px;
				right: 0;
				margin-right: 0;
			}
			@each $pattern, $col in (odd, left), (even, right){
				&:nth-child(#{$pattern}){
					@extend %hsp-layout;
					@if $pattern == "even"{
						&:before{ left: -15px; right: 0;}
						&:after{ left: -18px; right: 0;}
						.icon{
							left: 0;
							@include object-transform(-50%, -100%, -61);
							&:before{ @extend %hsp-icon-layout;}
							&:after{ 
								@extend %hsp-icon-layout;
								margin-left: 0;
								@include object-transform(-50%, -50%, 61);
							}
						}
					}
				}
			}	
			.icon{
				&:before{ 
					background: transparent;
					box-shadow: 0 0 0 2px rgba($black,0.7);
					@include vendor-elements(border-radius, 50%);
					@include square-size($photo-size+10);
					content: "";
				}
				[class*="icon-jlgnava-"]{
					background-size: percentage(1.2);
					@include vendor-elements(border-radius, 50%);
					@include square-size($photo-size);
					opacity: 1;
					position: absolute;
				}
			}
			@each $child, $top, $left in (first, -45, -210), (last, -25, 415){
				&:#{$child}-child .icon:before{ top: #{$top}px; left: #{$left}px;}
			} 
		}
	}
} 

/* Mobile devices */
@include respond-to(mobile){ @include jlgnava-mobile;}
@include respond-to(small-mobile){ 
	#contact .col-md-4{ margin: auto ($full-size/5); @include lr-direct(padding, 0); text-align: center;}
}